<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="zakladki/profil"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p>Ustawienia</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="none">
    <ion-item routerLink="/zakladki/profil/ustawienia/edytuj-profil">
      <ion-icon class="navigate-color" name="person-outline" slot="start"></ion-icon>
      <ion-label>
        <a href="javascript:void(0)">
          <p>Edytuj profil</p>
        </a>
      </ion-label>
    </ion-item>
    <ion-item (click)="removeAccount()">
      <ion-icon class="non-navigate-color" name="trash-outline" slot="start"></ion-icon>
      <ion-label>
        <a class="non-navigate-color" href="javascript:void(0)">
          <p>Usuń konto</p>
        </a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>;
