<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="''" (click)="closeSelf()"></ion-back-button>
        </ion-buttons>
        <ion-title>Wybierz sposob dostawy</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="none">
        <ion-item *ngFor="let deliveryType of deliveryTypes" (click)="closeSelf(deliveryType)">
            <ion-label>
                <span>{{ deliveryType.label }}</span>
                <p>{{ deliveryType.price | currency:deliveryType.currency:'symbol-narrow':'1.2' }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button expand="block" (click)="closeSelf()">Wroc do koszyka</ion-button>
    </ion-toolbar>
</ion-footer>