<ion-header>
    <ion-toolbar>
        <ion-title [innerHTML]="headerTitle"></ion-title>
        <ion-icon name="close-outline" slot="end" (click)="cancel.emit()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ng-content></ng-content>
</ion-content>

<ion-footer *ngIf="!!applyBtnName || !!cancelBtnName">
    <ion-toolbar>
        <ion-row>
            <ion-col *ngIf="!!cancelBtnName" >
                <ion-button expand="block" (click)="cancel.emit()">{{ cancelBtnName }}</ion-button>
            </ion-col>
            <ion-col *ngIf="!!applyBtnName" >
                <ion-button expand="block" [disabled]="isApplyBtnDisabled" (click)="apply.emit()">{{ applyBtnName }}</ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>