<ion-content fullscreen>
  <!-- Products list -->
  <!-- TODO 4 products per screen (list as default) / 2 products per screen (grid) -->
  <!-- TODO products as list or grid -->
  <!-- TODO product icon should be more flexible -->
  <!-- TODO Stars shouldn't have position absolute -->
  <ion-row>
    <ion-col 
      *ngFor="let marketProduct of marketProducts"
      size-xs="12" 
      size-sm="6" 
      size-md="6" 
      size-lg="6" 
      size-xl="4"
    >
      <ion-card>
        <ion-slides pager="true" [options]="{speed: 400}">
          <ion-slide 
            *ngFor="let photo of marketProduct.photos"
            [style.background]="'url(' + photo.url + ')'"
          >
          </ion-slide>
        </ion-slides>
        <ion-card-header>
          <span class="supplier">
            {{ 
              !!marketProduct.supplier.company 
              ? marketProduct.supplier.company 
              : marketProduct.supplier.name + ' ' + marketProduct.supplier.forename 
            }}
          </span>
          <ion-card-subtitle>
            <ion-row>
              <ion-col>
                {{ marketProduct.title }}
              </ion-col>
              <ion-col>
                <bar-rating [(rate)]="marketProduct.averageOfRates" [max]="5" [readOnly]="true"></bar-rating>
                ({{ marketProduct.opinionsCount }})
              </ion-col>
            </ion-row>
          </ion-card-subtitle>
          <ion-card-title>
            {{ marketProduct.price | currency:marketProduct.currency:'symbol-narrow':'1.2' }}
            / {{ marketProduct.unit }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>

      <div class="basket-floating-btn" (click)="marketProduct.inBasket = !marketProduct.inBasket">
        <ion-icon name="{{ marketProduct.inBasket ? 'basket' : 'basket-outline' }}"></ion-icon>
      </div>
      <div class="favorite-floating-btn" (click)="marketProduct.isFavorite = !marketProduct.isFavorite">
        <ion-icon name="{{ marketProduct.isFavorite ? 'star' : 'star-outline' }}"></ion-icon>
      </div>
    </ion-col>

  </ion-row>
  <div class="space"></div>
</ion-content>
