ion-content {
    .basket-floating-btn, .favorite-floating-btn {
        right: 25px;
        position: absolute;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.9);
        font-size: 25px;
        z-index: 999;
    }

    .basket-floating-btn {
        top: 88px;
        padding: 13px 13px 7px 13px;
        color: green;
    }

    .favorite-floating-btn {
        top: 25px;
        padding: 12px 13px 8px 13px;
        color: orange;
    }

    ion-card {
        ion-slide {
            height: 300px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    .space {
        height: 72px;
    }

    ion-toolbar {
        padding: 15px;

        .filters-category-btn, .list-grid-btn {
            background-color: transparent;
            padding: 10px;

            a {
                text-decoration: none;
                font-size: larger;
            }
        }

        .list-grid-btn {
            font-size: 25px;
        }

        ion-label {
            position: absolute;
            top: -5px;
            left: 18px;
            background-color: white;
            z-index: 999;
        }

        ion-select {
            border: 1px solid gray;
        }
    }
}