<ion-list lines="none">
    <ion-item class="supplier">
        <ion-label><p><small>{{ supplierName }}</small></p></ion-label>
        <ion-checkbox 
            *ngIf="!isSummary" 
            checked 
            slot="start"
            [ngModel]="hasProducts"
            (ionChange)="toggleProducts($event.target.checked)"
        ></ion-checkbox>
    </ion-item>

    <ng-container *ngFor="let product of products">
        <app-basket-product
            *ngIf="product.inBasket && isSummary || !isSummary"
            [product]="product"
        ></app-basket-product>
    </ng-container>

    <ng-container *ngIf="isSummary; else otherOfSupplier">
        <ion-item class="supplier-action-btn">
            <a routerLink="/zakladki/wiadomosci">
                <small>Wyślij wiadomość (opcjonalne)</small>
            </a>
        </ion-item>
        <ion-item *ngIf="!!deliveryType" class="supplier-action-btn">
            <ion-label>
                <span>{{ deliveryType.label }}</span>
                <p>{{ deliveryType.price | currency:deliveryType.currency:'symbol-narrow':'1.2' }}</p>
            </ion-label>
        </ion-item>
        <ion-item class="supplier-action-btn" (click)="chooseDeliveryType()">
            <a href="javascript:void(0)">
                <small>Wybierz typ dostawy</small>
            </a>
        </ion-item>
    </ng-container>

    <ng-template #otherOfSupplier>
        <ion-item class="supplier-action-btn">
            <!-- TODO navigate to search and set filters by service -->
            <a
                [routerLink]="['/zakladki/szukaj']" 
                [queryParams]="{supplier: supplierName}"
            >
                <small>Inne produkty sprzedającego</small>
            </a>
        </ion-item>
    </ng-template>
</ion-list>