<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="jarmark">
      <ion-icon name="leaf-outline"></ion-icon>
      <ion-label>Jarmark</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Szukaj</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="koszyk">
      <ion-icon name="basket-outline"></ion-icon>
      <ion-label>Koszyk</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ulubione">
      <ion-icon name="star"></ion-icon>
      <ion-label>Ulubione</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
