ion-button.basket {
    --background: transparent;
    --background-hover: transparent;

    color: var(--ion-color-not-active);
    &.active {
        color: var(--ion-color-non-navigate);
    }
}

ion-button.favorite {
    --background: transparent;
    --background-hover: transparent;

    color: var(--ion-color-not-active);
    &.active {
        color: var(--ion-color-non-navigate);
    }
}