app-basket {
    .empty-basket-message {
        padding-top: 25%;
        text-align: center;
        h2 {
            margin-bottom: 25%;
            color: var(--ion-color-mid-tone-contrast);
        }
    }

    ion-footer {
        background: var(--ion-color-shadow);
        
        p {
            padding-left: 15px;
            color: var(--ion-color-shadow-contrast);
        }
        ion-button {
            margin-top: 8px;
            min-width: 237px;
            padding-right: 5px;
            float: right;
        }
    }

    ion-list {
        .list-md {
            padding: 0;
        }
        ion-item {
            margin-bottom: 8px;
            &.supplier {
                margin: 0;
            }
            &.supplier-action-btn:not(.summary) {
                padding-left: 47px;
            }
            &.supplier-action-btn {
                ion-col:first-child {
                    padding-inline-start: 0;
                }
                ion-col:nth-child(2) {
                    padding-inline-start: 11px;
                }
            }
            &.delivery-type {
                margin: 0;
                p {
                    width: 158px;
                    margin: 0;
    
                    color: var(--ion-color-mid-tone-contrast);
                }
                ion-label {
                    padding-left: 16px;
                    margin: 0;
                }
            }
    
            ion-label > * {
                color: var(--ion-color-mid-tone-contrast);
            }
    
            ion-checkbox {
                --background-checked: var(--ion-color-non-navigate);
                --border-color-checked: var(--ion-color-non-navigate);
                --border-color: var(--ion-color-non-navigate);
        
                margin-inline-end: 25px;
            }
    
            ion-thumbnail {
                margin: 4px 0 0 0;
                margin-inline-end: 0;
    
                width: 101px;
                height: 101px;
            }
    
            a {
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }
    }

    app-basket-product {
        &:last-child {
            margin: 0;
        }

        ion-label {
            margin: 0;
            padding-left: 15px;
            cursor: pointer;
            &.summary {
                height: 100%;
            }
            
            h3, h2 {
                color: var(--ion-color-navigate);
            }
        }

        .multiply {
            ion-col {
                width: 48px;
                height: 48px;

                padding-left: 0;
                padding-right: 22px;
                padding-top: 10px;
                &.count {
                    padding-top: 14px;
                    text-align: center;
                }
                ion-button {
        
                    // font-size: 22px;

                    --background: var(--ion-color-non-navigate);
                }
            }
        }
    }
}