<ion-content *ngIf="!hasProducts" >
    <div class="empty-basket-message">
        <ion-icon name="basket"></ion-icon>
        <p>Twój koszyk jest pusty</p>
        <small>
            <a routerLink="/zakladki/jarmark"><b>Odwiedź jarmark</b></a>
            <span> lub </span>
            <a routerLink="/zakladki/szukaj"><b>Znajdź produkt</b></a>
        </small>
    </div>
</ion-content>

<ion-content *ngIf="hasProducts">
    <ion-list 
        *ngFor="let supplier of suppliersProducts | keyvalue"
        lines="none"
    >
        <ion-item class="supplier">
            <ion-label><p><small>{{ supplier.key }}</small></p></ion-label>
            <ion-checkbox 
                *ngIf="!isSummary" 
                checked 
                slot="start"
                [ngModel]="isSupplierChecked(supplier.key)"
                (ionChange)="toggleSupplierProducts(supplier.key, $event)"
            ></ion-checkbox>
        </ion-item>

        <!-- Basket product -->
        <ion-item *ngFor="let product of supplier.value" >
            <ion-checkbox 
                *ngIf="!isSummary" 
                checked 
                slot="start"
                [ngModel]="!!product.inBasket"
                (ionChange)="toggleProduct(product, $event)"    
            ></ion-checkbox>
            <ion-avatar slot="start">
                <img src="{{ product.photos[0].url }}">
            </ion-avatar>
            <ion-label>
                <h3>{{ product.title }}</h3>
                <div *ngIf="!isSummary" class="multiply">
                    <ion-row>
                        <ion-col size="3">
                            <ion-button (click)="decreaseProductsType(product)">-</ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <p>{{ productsMultiplications[product.title + product.supplier.name] }}</p>  
                        </ion-col>
                        <ion-col size="3">
                            <ion-button (click)="increaseProductsType(product)">+</ion-button>
                        </ion-col>
                    </ion-row>
                </div>
                <h2>
                    {{ product.price | currency:product.currency:'symbol-narrow':'1.2' }}
                    / {{ product.unit }} 
                    <span 
                        *ngIf="isSummary && productsMultiplications[product.title + product.supplier.name] > 1"
                    >x {{ productsMultiplications[product.title + product.supplier.name] }}</span>
                </h2>
            </ion-label>
        </ion-item>

        <ion-item>
            <a
                *ngIf="isSummary"  
                href="javascript:void(0)"
            >
                <small>Wybierz typ dostawy</small>
            </a>
            <a 
                *ngIf="!isSummary" 
                [routerLink]="['/zakladki/szukaj']" 
                [queryParams]="{supplier: supplier.key}"
            >
                <small>Inne produkty sprzedającego</small>
            </a>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col size-xs="4">
                <p>{{ paymentSum | currency:'PLN':'symbol-narrow':'1.2' }}</p>
            </ion-col>
            <ion-col size-xs="8">
                <ion-button expand="block" (click)="isSummary = true">
                    {{ isSummary ? 'Wyślij zamówienie' : 'Podsumowanie' }}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>