ion-header {
    ion-label {
        padding-left: 15px;
    }
}

.empty-basket-message {
    width: 300px;
    margin: 30vh auto;
    text-align: center;
    color: grey;

    ion-icon {
        font-size: xx-large;
    }
}

ion-toolbar {
    padding-left: 15px;
}