<div class="container">
    <h3 class="section-title">{{ title }}</h3>

    <!-- TODO view change between grid and list -->
    <ion-list lines="none">
        <ion-item *ngFor="let product of products" >
            <ion-avatar slot="start">
            <img src="{{ product.photos[0].url }}">
            </ion-avatar>
            <ion-label>
                <h3>{{ product.title }}</h3>
                <p><small>od 
                    {{ 
                        !!product.supplier.company 
                            ? product.supplier.company 
                            : product.supplier.name + ' ' + product.supplier.forename 
                    }}
                </small></p>
                <p>
                    <!-- <span>({{ product.opinionsCount }})&nbsp;&nbsp;</span>
                    <bar-rating 
                        [(rate)]="product.averageOfRates" 
                        [max]="5" 
                        [readOnly]="true"
                    ></bar-rating> -->
                </p>
                <h2>
                    {{ product.price | currency:product.currency:'symbol-narrow':'1.2' }}
                    / {{ product.unit }}
                </h2>
            </ion-label>

            <div class="floating-btn basket-floating-btn" (click)="product.inBasket = !product.inBasket">
              <ion-icon name="{{ product.inBasket ? 'basket' : 'basket-outline' }}"></ion-icon>
            </div>
            <div class="floating-btn favorite-floating-btn" (click)="product.isFavorite = !product.isFavorite">
              <ion-icon name="{{ product.isFavorite ? 'star' : 'star-outline' }}"></ion-icon>
            </div>
        </ion-item>
    </ion-list>
</div>

<!-- TODO grid view -->
<!-- <ion-slides pager="true" <ion-row>
    <ion-col 
      *ngFor="let marketProduct of marketProducts"
      size-xs="12" 
      size-sm="6" 
      size-md="6" 
      size-lg="6" 
      size-xl="4"
    >
      <ion-card>
        <ion-slides pager="true" [options]="{speed: 400}">
          <ion-slide 
            *ngFor="let photo of marketProduct.photos"
            [style.background]="'url(' + photo.url + ')'"
          >
          </ion-slide>
        </ion-slides>
        <ion-card-header>
          <span class="supplier">
            {{ 
              !!marketProduct.supplier.company 
              ? marketProduct.supplier.company 
              : marketProduct.supplier.name + ' ' + marketProduct.supplier.forename 
            }}
          </span>
          <ion-card-subtitle>
            <ion-row>
              <ion-col>
                {{ marketProduct.title }}
              </ion-col>
              <ion-col>
                <bar-rating [(rate)]="marketProduct.averageOfRates" [max]="5" [readOnly]="true"></bar-rating>
                ({{ marketProduct.opinionsCount }})
              </ion-col>
            </ion-row>
          </ion-card-subtitle>
          <ion-card-title>
            {{ marketProduct.price | currency:marketProduct.currency:'symbol-narrow':'1.2' }}
            / {{ marketProduct.unit }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>

      <div class="basket-floating-btn" (click)="marketProduct.inBasket = !marketProduct.inBasket">
        <ion-icon name="{{ marketProduct.inBasket ? 'basket' : 'basket-outline' }}"></ion-icon>
      </div>
      <div class="favorite-floating-btn" (click)="marketProduct.isFavorite = !marketProduct.isFavorite">
        <ion-icon name="{{ marketProduct.isFavorite ? 'star' : 'star-outline' }}"></ion-icon>
      </div>
    </ion-col>

  </ion-row>-->