<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="''" (click)="closeSelf()"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ conversation.user.name }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list lines="none">
        <ion-item 
            *ngFor="let message of conversation.messages" 
            class="message {{ message.isResponse ? '' : 'user-message' }}"
        >
            <ion-label position="stacked">
                <small><b>{{ message.creationDate | date:'M/d/yy, hh:mm:ss' }}</b></small>
            </ion-label>
            <ion-textarea
                auto-grow="true"
                disabled
                readonly
                value="{{ message.content }}"
                autosize
            >
            </ion-textarea>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-row *ngIf="isLastMessageOffer">
        <ion-col size="4" offset="1">
            <ion-button 
                color="success" 
                expand="block" 
                size="small" 
                fill="outline"
                (click)="accept()"
            >
                <small>Przyjmij</small>
            </ion-button>
        </ion-col>
        <ion-col size="4" offset="1">
            <ion-button 
                color="danger" 
                expand="block" 
                size="small" 
                fill="outline"
                (click)="reject()"
            >
                <small>Odrzuć</small>
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-toolbar>
        <ion-textarea
            auto-grow="true"
            autofocus="true"
            rows="6" 
            cols="20"
            maxlength="255"
            inputmode="text"
            spellcheck="true"
            placeholder="Napisz wiadomosc..."
            [(ngModel)]="messageValue"
            autosize
        >
        </ion-textarea>
        <ion-button expand="full" (click)="addNew()">Wyślij</ion-button>
    </ion-toolbar>
</ion-footer>