<app-modal
    headerTitle="Wybierz kategorie"
    applyBtnName="Wybierz"
    cancelBtnName="Cofnij"
    [isApplyBtnDisabled]="!actualCategoryTree"
    (cancel)="closeSelf()"
    (apply)="goTo(actualCategoryTree)"
>
    <ion-list lines="none">
        <ion-list-header *ngIf="!!actualCategoryTree" >
            <a href="javascript:void(0)" (click)="chooseParent(actualCategoryTree)">
                <h4>{{ actualCategoryTree.label }}</h4>
            </a>
        </ion-list-header>
        <ion-item *ngFor="let category of !!actualCategoryTree && actualCategoryTree.children || categoriesTrees" >
            <a href="javascript:void(0)" (click)="chooseChild(category)">
                <ion-label>{{ category.label }}</ion-label>
            </a>
        </ion-item>
    </ion-list>
</app-modal>