<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="''" (click)="closeSelf()"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <p>Wybierz kategorię</p>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <app-categories-list
        [(actualCategoryTree)]="actualCategoryTree"
        (selectCategoryLeaf)="goTo($event)"
    >
    </app-categories-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-button expand="block" (click)="closeSelf()">Cofnij</ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="block" [disabled]="!actualCategoryTree" (click)="goTo(actualCategoryTree)">Wybierz</ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>