<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="zakladki/profil">Profil</ion-back-button>
        </ion-buttons>
        <ion-title>
            <p>Historia zamówień</p>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngFor="let dateProduct of dateProducts | keyvalue" >
        <ion-label>
            <h3>{{ dateProduct.key }}</h3>
        </ion-label>
        <app-products-section
            [products]="dateProduct.value"
        >
        </app-products-section>
    </ng-container>
</ion-content>