<ion-header>
    <ion-toolbar>
        <ion-label>
            <b>Moje wiadomosci</b>
        </ion-label>
    </ion-toolbar>
</ion-header>

<ion-content fullScreen>
    <ion-list lines="full">
        <ion-item *ngFor="let conversation of conversations" (click)="openMessage(conversation)">
            <ion-badge slot="start" color="{{ unreadCount(conversation) === 0 ? 'light' : 'success' }}">
                {{ unreadCount(conversation) > 9 ? '+9' : unreadCount(conversation) }}
            </ion-badge>
            <ion-label>
                <b>{{ conversation.user.name }}</b>
                <p><small>Ostatnia wiadomosc z: {{ lastMessageTimeInMs(conversation) | date:'M/d/yy, hh:mm:ss' }}</small></p>
                <p><small><b>{{ lastMessage(conversation).content }}</b></small></p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>