<ion-header>
    <ion-toolbar>
        <ion-label>
            <b>Moje wiadomosci</b>
        </ion-label>
    </ion-toolbar>
</ion-header>

<ion-content fullScreen>
    <ion-list lines="full">
        <a href="javascript:void(0)">
            <ion-item>
                <ion-badge slot="start" color="success">9</ion-badge>
                <ion-label>
                    <b>Jasiu Wiesiu</b>
                    <p><small><i>Ostatnia wiadomosc z: 16:45</i></small></p>
                    <p><small><b>Lorem ipsum ddadddddddddodaodaododod adadaoidad</b></small></p>
                </ion-label>
            </ion-item>
        </a>
        <a href="javascript:void(0)">
            <ion-item>
                <ion-badge color="success" slot="start">3</ion-badge>
                <ion-label>
                    <b>Jasiu Wiesiu</b>
                    <p><small><i>Ostatnia wiadomosc z: 16:45</i></small></p>
                    <p><small><b>Lorem ipsum ddadddddddddodaodaododod adadaoidad</b></small></p>
                </ion-label>
            </ion-item>
        </a>
        <a href="javascript:void(0)">
            <ion-item>
                <ion-badge slot="start" color="medium">0</ion-badge>
                <ion-label>
                    <p><b>Jasiu Wiesiu</b></p>
                    <p><small><i>Ostatnia wiadomosc z: 15.04.2013, 16:45</i></small></p>
                    <p><small><b>Lorem ipsum ddadddddddddodaodaododod adadaoidad</b></small></p>
                </ion-label>
            </ion-item>
        </a>
    </ion-list>
</ion-content>