<ion-header>
    <ion-toolbar>
        <ion-title>Mój profil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <!-- User list -->
    <ion-list lines="none">
        <ion-item routerLink="/zakladki/profil/ulubione">
            <ion-icon name="heart-outline" slot="start"></ion-icon>
            <ion-label>
                <p>Moje ulubione</p>
            </ion-label>
        </ion-item>
        <ion-item routerLink="/zakladki/profil/historia-zamowien">
            <ion-icon name="file-tray-full-outline" slot="start"></ion-icon>
            <ion-label>
                <p>Historia zamowien</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            <ion-label>
                <p>Zapros znajomych</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <!-- Supplier list -->
    <ion-list lines="none">
        <ion-item routerLink="/zakladki/profil/dodaj-produkt">
            <ion-icon name="nutrition-outline" slot="start"></ion-icon>
            <ion-label>
                <p>Wystaw ogloszenie</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="albums-outline" slot="start"></ion-icon>
            <ion-label>
                <p>Aktywne ogloszenia</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="file-tray-full-outline" slot="start"></ion-icon>
            <ion-label>
                <p>Nieaktywne ogloszenia</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="sunny-outline" slot="start"></ion-icon>
            <ion-label>
                <p>Na wakacjach</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <!-- Settings & support -->
    <ion-list lines="none">
        <ion-item>
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>
                <p>Ustawienia</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
            <ion-label>
                <p>Centrum pomocy</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>