<ion-header>
    <ion-toolbar>
        <ion-title>Mój profil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <!-- User list -->
    <ion-list lines="none">
        <ion-item routerLink="/zakladki/profil/ulubione">
            <ion-icon class="navigate-color" name="heart-outline" slot="start"></ion-icon>
            <ion-label>
                <a href="javascript:void(0)">
                    <p>Moje ulubione</p>
                </a>
            </ion-label>
        </ion-item>
        <ion-item routerLink="/zakladki/profil/historia-zamowien">
            <ion-icon class="navigate-color" name="file-tray-full-outline" slot="start"></ion-icon>
            <ion-label>
                <a href="javascript:void(0)">
                    <p>Historia zamowien</p>
                </a>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon class="navigate-color" name="person-add-outline" slot="start"></ion-icon>
            <ion-label>
                <a href="javascript:void(0)">
                    <p>Zapros znajomych</p>
                </a>
            </ion-label>
        </ion-item>
    </ion-list>

    <!-- Supplier list -->
    <ion-list lines="none">
        <ion-item routerLink="/zakladki/profil/dodaj-produkt">
            <ion-icon class="navigate-color" name="nutrition-outline" slot="start"></ion-icon>
            <ion-label>
                <a href="javascript:void(0)">
                    <p>Wystaw ogłoszenie</p>
                </a>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon class="navigate-color" name="albums-outline" slot="start"></ion-icon>
            <ion-label>
                <a href="javascript:void(0)">
                    <p>Aktywne ogłoszenia</p>
                </a>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon class="navigate-color" name="file-tray-full-outline" slot="start"></ion-icon>
            <ion-label>
                <a href="javascript:void(0)">
                    <p>Nieaktywne ogłoszenia</p>
                </a>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon class="non-navigate-color" name="sunny-outline" slot="start"></ion-icon>
            <ion-label>
                <p class="non-navigate-color">Na wakacjach</p>
                <p><small>Dezaktywuj produkty</small></p>
            </ion-label>
            <ion-toggle slot="end"></ion-toggle>
        </ion-item>
    </ion-list>

    <!-- Settings & support -->
    <ion-list lines="none">
        <ion-item routerLink="/zakladki/profil/ustawienia">
            <ion-icon  class="navigate-color" name="settings-outline" slot="start"></ion-icon>
            <ion-label>
                <a href="javascript:void(0)">
                    <p>Ustawienia</p>
                </a>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon  class="navigate-color" name="alert-circle-outline" slot="start"></ion-icon>
            <ion-label>
                <a href="javascript:void(0)">
                    <p>Centrum pomocy</p>
                </a>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>