<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="zakladki/profil">Profil</ion-back-button>
        </ion-buttons>
        <ion-title>Dodaj produkt</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <!-- <ion-button (click)="takePicture()"></ion-button> -->
    <ion-slides *ngIf="images.length > 0">
        <ion-slide *ngFor="let image of images" >
          <div class="slide">
            <img [src]="image"/>
          </div>
        </ion-slide>
    </ion-slides>
    <ion-button (click)="pickImages()">Wybierz zdjęcia</ion-button>
</ion-content>

<ion-footer>
    <ion-row>
        <ion-col>
            <ion-button expand="block">Dodaj</ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="block">Podgląd</ion-button>
        </ion-col>
    </ion-row>
</ion-footer>