<ng-container *ngIf="hasFilters; else search">
  <ion-header>
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <button class="header-btn" >
            <a href="javascript:void(0)" (click)="openCategories()">Kategorie</a>
          </button>    
        </ion-col>
        <ion-col>
          <button class="header-btn" (click)="openFilters()">
            <a href="javascript:void(0)">Filtry</a>
          </button>
        </ion-col>
        <ion-col>
          <button class="header-btn" (click)="openSortBy()">
            <a href="javascript:void(0)">Sortuj</a>
          </button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ion-toolbar (click)="clearFilters()">
      <ion-label>
        <a href="javascript:void(0)">Szukaj innych produktów</a>
      </ion-label>
    </ion-toolbar>
    <!-- TODO Add return to search -->
    <app-products-section
      *ngIf="!!products && products.length > 0" 
      [title]="'Produkty z kategorii: ' + actualCategoryTree.label"
      [products]="products"
    ></app-products-section>
    <!-- TODO Pagination -->
  </ion-content>
</ng-container>

<!-- Filter search -->
<ng-template #search>
  <ion-header no-border>
    <ion-toolbar>
      <ion-searchbar
        #searchbar
        autocomplete="on"
        autocorrect="on"
        inputmode="text"
        placeholder="Jakiego produktu szukasz?"
        spellcheck="true"
        debounce="500"
        (ionChange)="searchForCategory($event.target.value)"
        (ionClear)="clearProposedCategories()" 
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list lines="none">
      <a
        *ngFor="let category of proposedCategories"
        href="javascript:void(0)"
        (click)="searchIn(category)"
      >
        <ion-item >
          {{ category.label }}
        </ion-item>
      </a>
    </ion-list>
    <app-categories-list>
    </app-categories-list>
  </ion-content>
</ng-template>