<ng-container *ngIf="hasFilters; else search">
  <ion-header>
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button expand="full" class="navigate" (click)="openCategories()">
            Kategorie
          </ion-button>    
        </ion-col>
        <ion-col>
          <ion-button expand="full" class="navigate" (click)="openFilters()">
            Filtry
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" class="navigate" (click)="openSortBy()">
            Sortuj
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <app-products-section
      [title]="actualTree.label"
      [products]="products"
    >
      <ion-title>
        <ion-button size="small" class="navigate" (click)="clearFilters()" subtitle>
          Szukaj innych produktów
        </ion-button>
      </ion-title>
      <div empty-message>
        <ion-title>
          <small>Nie ma znaleziono żadnego produktu</small>
        </ion-title>
        <ion-title><small>
          <span class="navigate-color" (click)="openFilters()">Zmień filtry </span>
          lub
          <span class="navigate-color" (click)="clearFilters()">Wyszukaj nową kategorię</span>
        </small></ion-title>
      </div>
    </app-products-section>
    <!-- TODO Pagination -->
  </ion-content>
</ng-container>

<!-- Filter search -->
<ng-template #search>
  <ion-header no-border>
    <ion-toolbar>
      <ion-searchbar
        #searchbar
        autocomplete="on"
        autocorrect="on"
        inputmode="text"
        placeholder="Jakiego produktu szukasz?"
        spellcheck="true"
        debounce="300"
        (ionChange)="searchForCategory($event.target.value)"
        (ionClear)="proposedCategories = [];" 
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-categories-list
      [filterContain]="!!searchbar.value && searchbar.value.trim() !== '' && searchbar.value.trim() || ''"
      (selectLeaf)="searchIn($event)"
    >
    </app-categories-list>
    <ng-container *ngIf="!!searchbar.value && searchbar.value.trim() !== '' && proposedCategories.length === 0">
      <ion-label class="non-found-description">
        <p>Nie znaleziono szukanej kategorii</p>
      </ion-label>
    </ng-container>
  </ion-content>
</ng-template>