ion-toolbar {
    .header-btn {
        background-color: transparent;

        a {
            text-decoration: none;
            font-size: larger;
        }

        ion-icon {
            font-size: large;
        }
    }
}

ion-header {
    ion-col {
        text-align: center;
    }
}