<ion-toolbar class="categories-bar">
    <div id="categories-scroll" scrollX="true">
        <div class="scroll-item">
            <ion-button 
                class="navigate"
                *ngFor="let categoryTree of categoriesTrees" 
                (click)="searchIn(categoryTree)"
            >
                {{ categoryTree.label }}
            </ion-button>
        </div>    
    </div>
    <ion-button expand="full" class="navigate" routerLink="/zakladki/szukaj">
        <small>Szukaj kategorii</small>
    </ion-button>
</ion-toolbar>