<div class="container">
    <div class="scroll" scrollX="true">
        <a 
            class="scroll-item"
            *ngFor="let categoryTree of categoriesTrees" 
            [routerLink]="['/zakladki/szukaj']" 
            [queryParams]="{selectedCategory: categoryTree.value}"
        >
            <span>
                {{ categoryTree.label }}
            </span>
        </a>
    </div>
    <div class="all-categories">
        <button class="all-categories-btn" (click)="openCategories()">
            <a href="javascript:void(0)">Wszystkie kategorie</a>
        </button>
    </div>
</div>