.container {
    background-color: rgb(0, 0, 0, 0.03);

    div[scrollx=true] {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    
        &::-webkit-scrollbar {
           display: none;
        }
    
         .scroll-item {
            cursor: pointer;
            flex: 0 0 auto;
            padding: 20px 10px 15px 10px;
            margin: 0 10px 10px 0px;
        }
    }
    
    .all-categories {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid lightgray;
    
        .all-categories-btn {
            background-color: transparent;
            width: 100%;
            padding: 18px 0px;
    
            a {
                font-size: small;
            }
        }
    }
}