<ion-item>
    <ion-checkbox 
        *ngIf="!isSummary" 
        checked 
        slot="start"
        [ngModel]="product.inBasket"
        (ionChange)="toggle($event.target.checked)"    
    ></ion-checkbox>
    <ion-avatar slot="start">
        <img src="{{ product.photos[0].url }}">
    </ion-avatar>
    <ion-label>
        <h3>{{ product.title }}</h3>
        <div *ngIf="!isSummary" class="multiply">
            <ion-row>
                <ion-col size="3">
                    <ion-button (click)="remove()" [disabled]="isProductMinimumStack">-</ion-button>
                </ion-col>
                <ion-col size="4">
                    <p>{{ multiplication }}</p>  
                </ion-col>
                <ion-col size="3">
                    <ion-button (click)="add()">+</ion-button>
                </ion-col>
            </ion-row>
        </div>
        <h2>
            {{ product.price | currency:product.currency:'symbol-narrow':'1.2' }}
            / {{ product.unit }} 
            <span 
                *ngIf="isSummary && multiplication > 1"
            >x {{ multiplication }}</span>
        </h2>
    </ion-label>
</ion-item>